body
{
	background: #000000 url(../images/bg-tile.jpg) repeat;
	text-align: center;
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 30px 0px 30px 0px;
}

a:link
{
	color: #0066CC;
	text-decoration: underline;
}

a:visited
{
	color: #0066CC;
	text-decoration: underline;
}

a:hover
{
	color: #0066CC;
	text-decoration: none;
}

a:active
{
	color: #0066CC;
	text-decoration: none;
}

a.wish:link
{
	color: #0066CC;
	text-decoration: underline;
	font: 10px Georgia;
}

a.wish:visited
{
	color: #0066CC;
	text-decoration: underline;
	font: 10px Georgia;
}

a.wish:hover
{
	color: #0066CC;
	text-decoration: none;
	font: 10px Georgia;
}

a.wish:active
{
	color: #0066CC;
	text-decoration: none;
	font: 10px Georgia;
}

a.reserved_wish:link
{
	color: #BDD8F0;
	text-decoration: underline;
	font: 10px Georgia;
}

a.reserved_wish:visited
{
	color: #BDD8F0;
	text-decoration: underline;
	font: 10px Georgia;
}

a.reserved_wish:hover
{
	color: #BDD8F0;
	text-decoration: none;
	font: 10px Georgia;
}

a.reserved_wish:active
{
	color: #BDD8F0;
	text-decoration: none;
	font: 10px Georgia;
}

table
{
	border-collapse: collapse;
	border: 0px solid;
}

table.main
{
	border: 2px solid #BBBBBB;
	margin: 0px auto;
}

td
{
	color: #666666;
	font: 13px Georgia;
}

td.small
{
	color: #666666;
	font: 10px Georgia;
}

td.back
{
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

td.header_back
{
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

td.header
{
	background: #0066CC url(../images/header.gif);
	color: #FFFFFF;
	width: 702px;
	height: 52px;
	border: 1px solid #000000;
}

td.content
{
	background-color: #FFFFFF;
	color: #666666;
	font: 13px Georgia;
	width: 700px;
}

td.list_header_left
{
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #F1F1F1;
	background-color: #F0F6FC;
	color: #666666;
	font: 13px Georgia;
	padding-left: 0.2em;
}

td.list_header_right
{
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #F1F1F1;
	background-color: #F0F6FC;
	color: #666666;
	font: 13px Georgia;
	padding-right: 0.2em;
	text-align: right;
}

td.list_row_left
{
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #F1F1F1;
	color: #666666;
	font: 13px Georgia;
	padding-left: 0.2em;
}

td.list_row_center
{
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #F1F1F1;
	color: #666666;
	font: 13px Georgia;
	padding-left: 0.2em;
}

td.list_row_right
{
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #F1F1F1;
	color: #666666;
	font: 13px Georgia;
	padding-right: 0.2em;
	text-align: right;
}

h1
{
	font: 18px Georgia;
}

h2
{
	font: 12px Georgia;
	text-transform: uppercase;
	border-bottom: 1px solid #666666;
	margin: 2em 0 0.8em 0;
}

h3
{
	font: 13px Georgia;
	margin: 0.2em 0 0.2em 0;
}

input
{
	color: #666666;
	font: 13px Georgia;
}

select
{
	color: #666666;
	font: 13px Georgia;
}

span.reserved_wish
{
	text-decoration: line-through;
	color: #BBBBBB;
}

span.print_date
{
	font-size: 10px;
}

span.tooltip_link
{
	color: #66A3CC;
	cursor: pointer;
	border-bottom: 1px dotted #66A3CC;
}

div.tooltip
{
	position: absolute;
	z-index: 50;
	display: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #E0E0E0;
	background-color: #FCFCFC;
	text-align: center;
}

#overlay
{
	position: absolute;
	z-index: 90;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #333333;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}

#dialog
{
	position: absolute;
	z-index: 100;
	padding: 20px;
	border: 2px solid #BBBBBB;
	background-color: #FFFFFF;
	display: block;
}

#loader
{
	position: absolute;
	z-index: 95;
	display: none;
}
