* {
	box-sizing: border-box;
}

:root {
	--theme-color: #CC0E00;
	--light-theme-color: #F2C2BF;
	--text-color: #666666;
}

[class*="col-"] {
	float: left;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
	padding: 0px;
}

@media only screen and (min-width: 1016px) {
	/* For desktop: */
	.col-1 { width: 8.33%; padding: 1px; }
	.col-2 { width: 16.66%; padding: 1px; }
	.col-3 { width: 25%; padding: 1px; }
	.col-4 { width: 33.33%; padding: 1px; }
	.col-5 { width: 41.66%; padding: 1px; }
	.col-6 { width: 50%; padding: 1px; }
	.col-7 { width: 58.33%; padding: 1px; }
	.col-8 { width: 66.66%; padding: 1px; }
	.col-9 { width: 75%; padding: 1px; }
	.col-10 { width: 83.33%; padding: 1px; }
	.col-11 { width: 91.66%; padding: 1px; }
	.col-12 { width: 100%; padding: 1px; }
	.col-center { max-width: 1000px; margin: auto; float: none; padding: 1px; }
}

html {
	font-family: "WF Visual Sans Text", sans-serif;
}

body {
	background: #2F2F2F;
	background-image: url(../images/bg-tile.jpg);
	background-size: 500px;
	background-repeat: repeat;
}

.row {
	padding-bottom: 3px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.header-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.header {
	border-radius: 15px;
	padding: 15px;
	background: var(--theme-color);
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.content {
	border-radius: 15px;
	padding: 15px;
	background-color: #FFFFFF;
	color: var(--text-color);
}

.right {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0;
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-size: 0.9rem;
	text-transform: uppercase;
	border-bottom: 1px solid var(--text-color);
	margin: 2em 0 0.8em 0;
}

.tmp {
	background: #87a1e9;
}





a:link
{
	color: var(--theme-color);
	text-decoration: none;
}

a:visited
{
	color: var(--theme-color);
	text-decoration: none;
}

a:hover
{
	color: var(--theme-color);
	text-decoration: underline;
}

a:active
{
	color: var(--theme-color);
	text-decoration: underline;
}

a.wish:link
{
	color: var(--theme-color);
	text-decoration: none;
	font: 10px Georgia;
}

a.wish:visited
{
	color: var(--theme-color);
	text-decoration: none;
	font: 10px Georgia;
}

a.wish:hover
{
	color: var(--theme-color);
	text-decoration: underline;
	font: 10px Georgia;
}

a.wish:active
{
	color: var(--theme-color);
	text-decoration: underline;
	font: 10px Georgia;
}

a.reserved_wish:link
{
	color: var(--light-theme-color);
	text-decoration: underline;
	font: 10px Georgia;
}

a.reserved_wish:visited
{
	color: var(--light-theme-color);
	text-decoration: underline;
	font: 10px Georgia;
}

a.reserved_wish:hover
{
	color: var(--light-theme-color);
	text-decoration: none;
	font: 10px Georgia;
}

a.reserved_wish:active
{
	color: var(--light-theme-color);
	text-decoration: none;
	font: 10px Georgia;
}

input
{
	width: 100%;
	color: var(--text-color);
	font-size: 1rem;
}

select
{
	width: 100%;
	color: var(--text-color);
	font-size: 1rem;
}

span.reserved_wish
{
	text-decoration: line-through;
	color: #BBBBBB;
}

span.print_date
{
	font-size: 10px;
}

span.tooltip_link
{
	color: #CC6C66;
	cursor: pointer;
	border-bottom: 1px dotted #CC6C66;
}

div.tooltip
{
	position: absolute;
	z-index: 50;
	display: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #E0E0E0;
	background-color: #FCFCFC;
	text-align: center;
}

#overlay
{
	position: absolute;
	z-index: 90;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #333333;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}

#dialog
{
	position: absolute;
	z-index: 100;
	padding: 20px;
	border: 2px solid #BBBBBB;
	background-color: #FFFFFF;
	display: block;
}

#loader
{
	position: absolute;
	z-index: 95;
	display: none;
}
