* {
	box-sizing: border-box;
}

:root {
	--theme-color: #CC0E00;
	--light-theme-color: #F2C2BF;
	--text-color: #666666;
	--light-text-color: #BBBBBB;
	--bubble-frame-color: #BBBBBB;
	--hover-back-color: #F6F6F6;
}

html {
	font-family: "WF Visual Sans Text", sans-serif;
}

body {
	background: #2F2F2F;
	background-image: url(../images/bg-tile.jpg?timestamp=202311080010);
	background-size: 500px;
	background-repeat: repeat;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
	padding: 0px;
}

@media only screen and (min-width: 1016px) {
	/* For desktop: */
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
	[class*="col-"] { float: left; }
	.col-center {
		max-width: 1000px;
		margin: auto;
		float: none;
	}
}

.auto-col {
	float: left;
	padding: 0px;
	flex-grow: 1;
	align-items: flex-start;
}

[class*="row"]::after {
	content: "";
	clear: both;
	display: table;
}

.row {
	padding-bottom: 3px;
}

.row-category {
	display: flex;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid var(--bubble-frame-color);
	background: var(--hover-back-color);
	margin: 20px 5px 5px 5px;
}

/* For mobile phones: */
.row-list {
	display: flex;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid var(--bubble-frame-color);
	margin: 5px;
}

@media only screen and (min-width: 1016px) {
	/* For desktop: */
	.row-list {
		display: flex;
		border-radius: 10px;
		padding: 5px 10px 5px 10px;
		border: 0px;
		margin: 0px 5px 0px 5px;
	}
}

.row-header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-footer {
	display: flex;
	margin-top: 20px;
	padding-bottom: 10px;
}

.auto-row {
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.header {
	border-radius: 15px;
	padding: 15px;
	background: var(--theme-color);
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.content {
	border-radius: 15px;
	padding: 15px;
	background-color: white;
	color: var(--text-color);
}

.dialog {
	width: 90%;
}

@media only screen and (min-width: 702px) {
	/* For desktop: */
	.dialog {
		width: 600px;
	}
}

.input-label {
	margin: 0px 0.625rem 0.188rem 0px;
}

.no-margin {
	margin: 0px;
}

.empty {
	padding: 1px;
}

.bubble {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid var(--bubble-frame-color);
	margin: 5px;
}

.hover:hover {
	background: var(--hover-back-color);
}

.right {
	display: flex;
	justify-content: flex-end;
}

.small {
	font-size: 0.75rem;
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-size: 0.9rem;
	text-transform: uppercase;
	border-bottom: 1px solid var(--text-color);
	margin: 32px 0px 12px 0px;
}

h2.list {
	margin: 12px 0px 12px 0px;
}

@media only screen and (min-width: 1016px) {
	/* For desktop: */
	h2.list {
		margin: 32px 0px 12px 0px;
	}
}

h3 {
	font-size: 0.9rem;
	margin: 0px 0px 12px 0px;
}

h4 {
	font-size: 0.9rem;
	margin: 0px;
}

p {
	margin: 16px 0px 0px 0px;
}

.tmp {
	background: #87a1e9;
}





a:link {
	color: var(--theme-color);
	text-decoration: none;
}

a:visited {
	color: var(--theme-color);
	text-decoration: none;
}

a:hover {
	color: var(--theme-color);
	text-decoration: underline;
}

a:active {
	color: var(--theme-color);
	text-decoration: underline;
}

a.wish:link {
	color: var(--theme-color);
	text-decoration: none;
	font-size: 0.75rem;
}

a.wish:visited {
	color: var(--theme-color);
	text-decoration: none;
	font-size: 0.75rem;
}

a.wish:hover {
	color: var(--theme-color);
	text-decoration: underline;
	font-size: 0.75rem;
}

a.wish:active {
	color: var(--theme-color);
	text-decoration: underline;
	font-size: 0.75rem;
}

a.reserved_wish:link {
	color: var(--light-theme-color);
	text-decoration: none;
	font-size: 0.75rem;
}

a.reserved_wish:visited {
	color: var(--light-theme-color);
	text-decoration: none;
	font-size: 0.75rem;
}

a.reserved_wish:hover {
	color: var(--light-theme-color);
	text-decoration: underline;
	font-size: 0.75rem;
}

a.reserved_wish:active {
	color: var(--light-theme-color);
	text-decoration: underline;
	font-size: 0.75rem;
}

form {
	margin: 0px;
}

input {
	color: var(--text-color);
	font-size: 1rem;
}

input[type="text"],
input[type="password"] {
	width: 100%;
}

input[type="checkbox"] {
	margin: 0px 0.438rem 0.375rem 0px;
	accent-color: var(--theme-color);
}

select {
	width: 100%;
	height: 1.5rem;
	color: var(--text-color);
	font-size: 1rem;
}

span.reserved_wish {
	text-decoration: line-through;
	color: var(--light-text-color);
}

span.reserved_wish_link {
	text-decoration: line-through;
	color: var(--light-theme-color);
}

span.print_date {
	font-size: 10px;
}

span.tooltip_link {
	color: #CC6C66;
	cursor: pointer;
	border-bottom: 1px dotted #CC6C66;
}

div.tooltip {
	position: absolute;
	z-index: 50;
	display: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #E0E0E0;
	background-color: #FCFCFC;
	text-align: center;
}

#overlay {
	position: absolute;
	z-index: 90;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #333333;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}

#dialog {
	position: absolute;
	z-index: 100;
	border-radius: 15px;
	padding: 15px;
	border: 1px solid var(--bubble-frame-color);
	background-color: white;
	display: none;
}

#loader {
	position: absolute;
	z-index: 95;
	display: none;
}
